<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
    <title>Your Tee Times</title>
    <!-- <div class="background"> -->

    <body>
        <div class="container">

            <%- include('./partials/nav.ejs') %>

                <a class="btn light-green darken-2" href="/new">Add a New TeeTime</a>
                <div class="main-content-dashboard">
                    <div id="dash-show-card">


                        <h1>My Tee Times</h1>
                        <ul class="teetimes">
                            <% teetimes.forEach(teetime=> { %>
                                <li>
                                    <%= teetime.date %>
                                </li>
                                <li>
                                    <%=teetime.time; %>
                                </li>
                                <li>
                                    <a class="links" href="/<%= teetime.id %>">
                                   Click to view
                                    </a>
                                </li>
                                <div id="show-edit-bar" <form action="/<%= teetime.id %>?_method=DELETE" method="POST"
                                    style="display:inline; margin-left:16px;">
                                    <input class="btn-floating btn-medium waves-effect waves-light red" type="submit" value="X" />
                                    </form>

                                    <a class="btn waves-effect light-green darken-2" href="/edit/<%=teetime._id %>">Edit</a>
                                </div>
                                <% }) %>
                        </ul>
                    </div>
                </div>
        </div>
    </body>

</html>