<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Tee Times</title>
</head>

<body>
    <%- include('../views/partials/nav.ejs') %>
        <nav class="new">
            <a href="/teetimes/new">Add a New TeeTime</a>
        </nav>

        <h1>My Tee Times</h1>
        <ul>
            <% teetimes.forEach(teetime=> { %>
                <p>
                    <%=teetime.date; %>
                </p>
                <p>
                    <%=teetime.time; %>
                </p>
                <p>
                    <%=teetime.location; %>
                </p>
                <form action="/teetimes/<%= teetime.id %>?_method=DELETE" method="POST"
                    style="display:inline; margin-left:16px;">
                    <input type="submit" value="DELETE" />
                </form>
                <a href="/teetimes/edit/<%=teetime._id %>">Edit</a>
                </li>
                <% }) %>
        </ul>

</body>

</html>