<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <title>View Tee Time</title>
</head>
<div class="container">
	<%- include('./partials/nav.ejs')  %>
    <body>
       
        <h3> <a href="/dashboard">Dashboard</a> </h3>
       

        <a href="/edit/<%= teetime._id %>">
            <button type="button">edit</button>
        </a>
        <form action="/<%=teetime._id %>?_method=DELETE" method="POST">
            <input type="submit" value="DELETE TIME" />
        </form>


        <ul>
            <li>Date: <%= teetime.date%>
            </li>

            <li>Time: <%= teetime.time %>
            </li>

            <li>Location: <%= teetime.location %>
            </li>

        </ul>

        </p>


    </body>
</div>

</html>