<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>


    <title>View Tee Time</title>
    <div class="container">
        <%- include('./partials/nav.ejs') %>

            <body>

                <h3 class="dashboard-link"> <a id="dashboard-link" href="/dashboard">Back to Dashboard</a> </h3>
                <div class="main-content-show">
                    <div id="show-card">
                        <div id="show-edit-bar"> <a href="/edit/<%= teetime.id %>">
                                <button class="btn waves-effect light-green darken-2">edit</button>
                            </a>
                            <form action="/<%=teetime.id %>?_method=DELETE" method="POST">
                              <input class="btn-floating btn-large waves-effect waves-light red"  type="submit" value="X" />
                            </form>

                        </div>

                        <ul>
                            Your Tee Time is on
                            <li>
                                <%= teetime.date%>
                            </li>

                            <li>Time: <%= teetime.time %>
                            </li>

                            <li>Location: <%= teetime.location %>
                            </li>

                        </ul>
                    </div>

                </div>
            </body>
    </div>

</html>